$cell-color: #42afe3;
$cell-alive: #97cd76;
$cell-dead: #ed6c63;
$game-board-height: 750px;
$game-board-width: 750px;

#root {
    height: 100%;
    width: 100%;
}

.hero.is-primary.is-bold.is-fullheight {
    padding: 32px auto !important;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.title {
    padding-top: 16px;
    text-align: center;
}

.play-area {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    flex-direction: column;
    padding: 16px 0;
}

.controls {
    display: flex;
    justify-content: space-between;
    width: $game-board-width;
}

.game-info {
    display: flex;
    justify-content: space-between;
    width: $game-board-width;
}

.gameboard {
    height: $game-board-height;
    width: $game-board-width;
    display: flex;
    flex-direction: column;
    padding: 0 0 16px 0;
}

.cell-row {
    display: flex;
    flex-direction: row;
    flex: auto;
}

.cell {
    min-height: 8px;
    min-width: 8px;
    background-color: $cell-color;
    flex: auto;
}

.alive {
    background-color: $cell-alive;
}

.dead {
    background-color: $cell-dead;
}
